:root {
  background: #f5f7f8;
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
}
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

@media screen and (min-width: 500px) {

  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
}



.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.card .foto {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
}

h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  margin: 2em 0 0 0;
}

.fecha {
  text-align: right;
  margin: 15px;
  padding-right: 35px;
  padding-bottom: 1.5rem;
}
