:root {
  font: {
    size: 16px;
    family: Roboto;
  }
  text-decoration: none;

}
.nav {
  color: #fff;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 25%;
      @media (max-width: 45em) {
        width: 100%;
      }
      &:hover {
        a {
          text-decoration: none;
          background: lightblue;
          color: blue;
          &:hover {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
a {
  display: block;
  background: lightcoral;
  padding: 15px;
  color: white;
  text-decoration: none;
  text-align: center;

}
